<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="976963">  <td>19/11/11 17:09:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:Runner.CukeRunner@2173f6d9]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>19/11/11 17:09:27</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CukeRunner.setup()[pri:0, instance:Runner.CukeRunner@2173f6d9]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
<tr bgcolor="976963">  <td>19/11/11 17:09:27</td>   <td>197</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:Runner.CukeRunner@2173f6d9]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@315138752</td>   <td></td> </tr>
</table>
